Repository swsnu/swpp2021-team5, pull requests merged in 2021-11, with the labels that each got.

#7 add develop branch (issue#6)
  frontend/vesta/README.md
Labels: good first issue

#26 design and add kitchen vesta logo (issue#26)
  diagrams/kitchenVestaLogo.png
Labels: enhancement

#12 Nutrient component, page (issue11)
  frontend/vesta/.eslintrc.js
  frontend/vesta/package-lock.json
  frontend/vesta/package.json
  frontend/vesta/public/kitchenVestaLogo.png
  frontend/vesta/public/sushi_example_image.jpeg
  frontend/vesta/src/App.jsx
  frontend/vesta/src/component/Header/Header.jsx
  frontend/vesta/src/component/Nutrient/Nutrient.jsx
  frontend/vesta/src/component/Nutrient/Nutrient.test.jsx
  frontend/vesta/src/component/Recipe/Recipe.jsx
  frontend/vesta/src/index.jsx
  frontend/vesta/src/pages/Nutritional_Info_and_Recipe/NutritionalInfoAndRecipe.jsx
  frontend/vesta/src/pages/Nutritional_Info_and_Recipe/NutritionalInfoAndRecipe.test.jsx
  frontend/vesta/src/store/actions/Menu/menu.js
  frontend/vesta/src/store/actions/Menu/menu.test.js
  frontend/vesta/src/store/actions/actionType.js
  frontend/vesta/src/store/actions/index.js
  frontend/vesta/src/store/reducers/menu.js
  frontend/vesta/src/styles/Nutritional_Info_and_Recipe/Background.jsx
  frontend/vesta/src/styles/fonts/Noovo ITC Std Light.woff2
  frontend/vesta/src/styles/fonts/Verveine-W01-Regular.woff
  frontend/vesta/src/styles/fonts/fonts.js
  frontend/vesta/src/styles/fonts/twostick.woff
  frontend/vesta/yarn.lock
Labels: frontend

#14 Implemented Record, Menu, Recipe model
  .DS_Store
  .travis.yml
  backend/.DS_Store
  backend/vesta/.gitignore
  backend/vesta/.pylintrc
  backend/vesta/db.sqlite3
  backend/vesta/images/brownie.jpeg
  backend/vesta/kitchen/__init__.py
  backend/vesta/kitchen/admin.py
  backend/vesta/kitchen/apps.py
  backend/vesta/kitchen/migrations/0001_initial.py
  backend/vesta/kitchen/migrations/0002_alter_record_date.py
  backend/vesta/kitchen/migrations/0003_alter_record_liked.py
  backend/vesta/kitchen/migrations/0004_auto_20211103_1604.py
  backend/vesta/kitchen/migrations/0005_menu_image.py
  backend/vesta/kitchen/migrations/0006_auto_20211108_0121.py
  backend/vesta/kitchen/migrations/0007_alter_record_date.py
  backend/vesta/kitchen/migrations/0008_alter_record_date.py
  backend/vesta/kitchen/migrations/__init__.py
  backend/vesta/kitchen/models.py
  backend/vesta/kitchen/tests.py
  backend/vesta/kitchen/urls.py
  backend/vesta/kitchen/views.py
  backend/vesta/menu_images/brownie.jpeg
  backend/vesta/record_images/brownie.jpeg
  backend/vesta/requirements.txt
  backend/vesta/vesta/settings.py
  backend/vesta/vesta/urls.py
Labels: backend

#15 Half of backend setting
  backend/vesta/.pylintrc
  backend/vesta/db.sqlite3
  backend/vesta/kitchen/admin.py
  backend/vesta/kitchen/migrations/0001_initial.py
  backend/vesta/kitchen/migrations/0002_alter_record_date.py
  backend/vesta/kitchen/migrations/0003_alter_record_liked.py
  backend/vesta/kitchen/migrations/0004_auto_20211103_1604.py
  backend/vesta/kitchen/migrations/0005_menu_image.py
  backend/vesta/kitchen/migrations/0006_auto_20211108_0121.py
  backend/vesta/kitchen/migrations/0007_alter_record_date.py
  backend/vesta/kitchen/migrations/0008_alter_record_date.py
  backend/vesta/kitchen/models.py
  backend/vesta/kitchen/urls.py
  backend/vesta/kitchen/views.py
  backend/vesta/vesta/__pycache__/__init__.cpython-37.pyc
  backend/vesta/vesta/__pycache__/settings.cpython-37.pyc
  backend/vesta/vesta/__pycache__/urls.cpython-37.pyc
  backend/vesta/vesta/__pycache__/wsgi.cpython-37.pyc
  frontend/vesta/.gitignore
  frontend/vesta/package-lock.json
  frontend/vesta/package.json
  frontend/vesta/yarn.lock
Labels: backend

#35 review component (issue#34)
  backend/vesta/db.sqlite3
  backend/vesta/vesta/__pycache__/__init__.cpython-37.pyc
  backend/vesta/vesta/__pycache__/settings.cpython-37.pyc
  backend/vesta/vesta/__pycache__/urls.cpython-37.pyc
  backend/vesta/vesta/__pycache__/wsgi.cpython-37.pyc
  frontend/vesta/public/DummyImages/breakfast1_.jpeg
  frontend/vesta/public/DummyImages/breakfast2_.jpeg
  frontend/vesta/public/DummyImages/breakfast3_.jpeg
  frontend/vesta/public/DummyImages/breakfast4_.jpeg
  frontend/vesta/public/DummyImages/breakfast5_.jpeg
  frontend/vesta/public/DummyImages/dinner1_.jpeg
  frontend/vesta/public/DummyImages/dinner2_.jpeg
  frontend/vesta/public/DummyImages/dinner3_.jpg
  frontend/vesta/public/DummyImages/dinner4_.jpeg
  frontend/vesta/public/DummyImages/dinner5_.jpeg
  frontend/vesta/public/DummyImages/lunch1_.jpeg
  frontend/vesta/public/DummyImages/lunch2_.jpeg
  frontend/vesta/public/DummyImages/lunch3_.jpeg
  frontend/vesta/public/DummyImages/lunch4_.jpeg
  frontend/vesta/public/DummyImages/lunch5_.jpeg
  frontend/vesta/src/App.jsx
  frontend/vesta/src/component/Meal/Meal.jsx
  frontend/vesta/src/component/Meal/MealList.jsx
  frontend/vesta/src/component/Nutrient/Nutrient.jsx
  frontend/vesta/src/pages/Nutritional_Info_and_Recipe/NutritionalInfoAndRecipe.jsx
  frontend/vesta/src/store/actions/Menu/menu.js
  frontend/vesta/src/store/actions/actionType.js
  frontend/vesta/src/store/actions/index.js
  frontend/vesta/src/store/reducers/menu.js
  frontend/vesta/src/styles/Menu_Recommendation/Meals.jsx
Labels: frontend

#48 fix meal test
  frontend/vesta/package.json
  frontend/vesta/src/component/Meal/Meal.jsx
  frontend/vesta/src/component/Meal/Meal.test.jsx
  frontend/vesta/src/component/Meal/MealList.jsx
  frontend/vesta/src/component/Meal/MealList.test.jsx
  frontend/vesta/src/store/actions/Menu/menu.test.js
Labels: frontend, test code
